# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/
.conda/
*.conda
*.env

# Conda environment files
*.yaml
*.yml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/
!data/.gitkeep          # Keep folder but not actual datasets

# Trained models
models/
!models/.gitkeep        # Keep folder, ignore saved models

# Environment variable files
.env

# Streamlit cache and config
.streamlit/
*.toml

# Logs
*.log

# OS system files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Docker
*.pid

# Coverage and test reports
htmlcov/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Pylint
.pylint.d/

# Misc
*.swp
